{% extends "../base.html" %}
{% load static %}
{% block content %}
  <td width="800" valign="top">
    <!--타이틀시작-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td class="t01">
            <img src="{% static "images/title15.gif" %}" width="" height="" alt="">
          </td>
          <td class="t02" align="right">
            <img src="{% static "images/icon/home.gif" %}"
                 width=""
                 height=""
                 alt="home">
            &gt; 회사소개
          </td>
        </tr>
        <tr>
          <td colspan="2" class="t03"></td>
        </tr>
      </tbody>
    </table>
    <!--/ 타이틀시작-->
    <!-- 컨텐츠 -->
    <div>
      <div style="text-align: center">
        <div style="text-align: center"></div>
        <div style="text-align: center"></div>
        <div style="text-align: center">
          <div style="text-align: center">
            <div style="text-align: center" target="_blank">
              <br>
            </div>
            <br>
            <img class="chimg_photo"
                 id="image_038584776951885563"
                 style="border: currentColor;
                        border-image: none;
                        width: 783px;
                        height: 802px"
                 alt="소개페이지2.jpg"
                 src="http://www.upjaga.com/data/cheditor4/1807/ded608759fd749f65a732dfe35d6b8ef_sQfTusg82l7YlS4Mo.jpg">
          </div>
          <br>
        </div>
      </div>
      <div style="text-align: center">
        <br>
      </div>
      <div style="text-align: center">
        <br>
      </div>
      <div style="text-align: center">
        <div style="text-align: center">
          <br>
        </div>
      </div>
      <div style="text-align: center">
        <br>
      </div>
      <div style="text-align: center">
        <br>
      </div>
      <div style="text-align: center">
        <div style="text-align: center">
          <br>
          <br>
        </div>
      </div>
    </div>
  </td>
{% endblock content %}
