{% extends "base.html" %}
{% load static %}
{% block content %}
  <td width="800" valign="top">
    <!-- 컨텐츠 -->
    <table width="800" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td width="580" height="367" valign="top">
            <div style="height:4px;line-height:0;font-size:0;">
              <img src="{% static 'images/index/intro.png' %}"
                   width="583"
                   height="369"
                   alt="">
            </div>
          </td>
          <td width="212" valign="top">
            <!-- 공지추출-->
            <div class="notice-bg">
              <ul class="notice-list">
                {% for n in notices %}
                  <li>
                    <span class="dot"></span>
                    <a href="{% url 'community:notice_detail' n.id %}">{{ n.title }}</a>
                  </li>
                  {% if not forloop.last %}<div class="sep"></div>{% endif %}
                {% empty %}
                  <li class="empty">등록된 공지사항이 없습니다.</li>
                {% endfor %}
              </ul>
            </div>
            <div style="height:11px;line-height:0;font-size:0;"></div>
            <a href="tel:01020108272">
              <img src="{% static "images/banner/main_ban_5.png" %}"
                   width="212"
                   height="115"
                   alt="배너">
            </a>
            <div style="height:11px;line-height:0;font-size:0;"></div>
            <a href="{% url "company" %}">
              <img src="{% static "images/banner/left_ban_1.png" %}"
                   alt="회사소개"
                   width="212"
                   height="115">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="height:5px;line-height:0;font-size:0;"></div>
    <!-- 신제품 시작 -->
    <img src="{% static "images/index/main_tit_2.jpg" %}"
         alt="신규상품"
         width=""
         height="">
    <div style="height:20px"></div>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for parts in parts %}
          {% if forloop.first or forloop.counter0|divisibleby:5 %}<tr>{% endif %}
            <td width="20%" align="center" valign="top">
              <table width="20%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td height="5"></td>
                  </tr>
                  <tr>
                    <td align="center" style="border:1px solid #d2d2cd;">
                      <a href="{% url 'parts:product_detail' parts.pk %}">
                        <img id="1598932185_m"
                             src="{{ parts.images.all.0.image.url }}"
                             alt="{{ parts.name }} 이미지"
                             width="130"
                             height="130"
                             border="0">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" class="locat">
                      <a href="{% url 'parts:product_detail' parts.pk %}" class="item">{{ parts.title }}</a>
                    </td>
                  </tr>
                  {% if parts.price == 0 %}
                    <tr>
                      <td align="center" class="locat2">전화문의</td>
                    </tr>
                  {% else %}
                    <tr>
                      <td align="center" class="locat2">{{ parts.formatted_price }}원</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td height="20"></td>
                  </tr>
                </tbody>
              </table>
            </td>
            {% if forloop.counter|divisibleby:5 or forloop.last %}</tr>{% endif %}
        {% endfor %}
      </tbody>
    </table>
    <!-- 베스트 시작 -->
    <div style="height:20px"></div>
  </td>
{% endblock content %}
