{% extends "base.html" %}
{% load static %}
{% block content %}
  <td width="800" valign="top">
    <!-- 컨텐츠 -->
    <table width="800" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td width="580" height="367" valign="top">
            <div style="height:4px;line-height:0;font-size:0;"></div>
          </td>
          <td width="8"></td>
          <td width="212" valign="top">
            <!-- 공지추출-->
            <table width="212" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td height="130"
                      valign="top"
                      style="padding-top:30px;
                             background:url(static/images/notice.jpg);
                             background-repeat:no-repeat;
                             background-position:center top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        {% for notice in notices %}
                          <tr>
                            <td height="22">
                              <nobr style="display:block; overflow:hidden; width:160;">
                                &nbsp;&nbsp;&nbsp;
                                <img src="{% static 'images/blot.gif' %}"
                                     align="absmiddle"
                                     width="2"
                                     height="4">
                                <a href="{% url 'community:notice_detail' notice.id %}">{{ notice.title }}</a>
                                <span style="font-family:돋움; font-size:8pt; color:#9A9A9A;"></span></nobr>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <img src="{% static 'images/dot_line.gif' %}"
                                   width=""
                                   height=""
                                   alt="dot_line">
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="height:5px;line-height:0;font-size:0;"></div>
    <!-- 신제품 시작 -->
    <img src="{% static "images/index/main_tit_2.jpg" %}"
         alt="신규상품"
         width=""
         height="">
    <div style="height:20px"></div>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for parts in parts %}
          {% if forloop.first or forloop.counter0|divisibleby:5 %}<tr>{% endif %}
            <td width="20%" align="center" valign="top">
              <table width="20%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td height="5"></td>
                  </tr>
                  <tr>
                    <td align="center" style="border:1px solid #d2d2cd;">
                      <a href="{% url 'parts:product_detail' parts.pk %}">
                        <img id="1598932185_m"
                             src="{{ parts.images.all.0.image.url }}"
                             alt="{{ parts.name }} 이미지"
                             width="130"
                             height="130"
                             border="0">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" class="locat">
                      <a href="{% url 'parts:product_detail' parts.pk %}" class="item">{{ parts.title }}</a>
                    </td>
                  </tr>
                  {% if parts.price == 0 %}
                    <tr>
                      <td align="center" class="locat2">전화문의</td>
                    </tr>
                  {% else %}
                    <tr>
                      <td align="center" class="locat2">{{ parts.formatted_price }}원</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td height="20"></td>
                  </tr>
                </tbody>
              </table>
            </td>
            {% if forloop.counter|divisibleby:5 or forloop.last %}</tr>{% endif %}
        {% endfor %}
      </tbody>
    </table>
    <!-- 베스트 시작 -->
    <div style="height:20px"></div>
  </td>
{% endblock content %}
