{% load static %}
<td class="left_bg_1" width="168" valign="top">
  <div class="lnb_new">
    <ul>
      {% for key, label in category_choices %}
        <a href="{% url 'parts:product_by_category' key %}">
          <li>{{ label }}</li>
        </a>
      {% endfor %}
    </ul>
  </div>
  <div style="height:18px;line-height:0;font-size:0;"></div>
  <img src="{% static 'images/banner/left_ban_4.png' %}"
       width="168"
       height="249"
       alt="배너광고">
  <img src="{% static 'images/banner/left_ban_3.png' %}"
       width="176"
       height="111"
       alt="상담문의">
  <div style="height:23px;line-height:0;font-size:0;"></div>
  <img src="{% static 'images/banner/left_ban_5.jpg' %}"
       width=""
       height=""
       alt="고객센터">
  <img src="{% static 'images/banner/left_ban_6.jpg' %}"
       width=""
       height=""
       alt="게시판"
       border="0"
       usemap="#left_ban_6">
  <map name="left_ban_6">
    <area shape="rect" coords="3, 2, 80, 103" href="./shop/faq.php">
    <area shape="rect" coords="81, 2, 163, 103" href="">
    <area shape="rect" coords="3, 104, 80, 198" href="">
    <area shape="rect" coords="81, 104, 163, 198" href="">
  </map>
</td>
<td width="12"></td>
