{% load static %}
<a name="g4_head"></a>
<table width="980" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="240" height="53">
        <a href="./">
          <img src="{% static "images/logo.png" %}" width="" height="" alt="로고">
        </a>
      </td>
      <td width="490" align="right" valign="bottom">
        <!--메뉴1 시작-->
        <a href="">
          <img src="{% static "images/menubar/login.gif" %}"
               width=""
               height=""
               alt="로그인">
        </a>
        <a href="">
          <img src="{% static "images/menubar/join.gif" %}"
               width=""
               height=""
               alt="회원가입">
        </a>
        <a href="">
          <img src="{% static "images/menubar/order.gif" %}"
               width=""
               height=""
               alt="주문하기">
        </a>
        <a href="">
          <img src="{% static "images/menubar/cart.gif" %}"
               width=""
               height=""
               alt="장바구니">
        </a>
        <a href="">
          <img src="{% static "images/menubar/mypage.gif" %}"
               width=""
               height=""
               alt="마이페이지">
        </a>
        <!--메뉴1 끝-->
      </td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="40"
          style="background-color:#1B2558;
                 background-repeat:repeat-x;
                 background-position:center top">
        <table width="980" align="center" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="700" height="40">
                <div class="gnb_new">
                  <ul>
                    <a href="">
                      <li>수입차</li>
                    </a>
                    <a href="">
                      <li>현대자동차</li>
                    </a>
                    <a href="">
                      <li>기아자동차</li>
                    </a>
                    <a href="">
                      <li>쉐보레</li>
                    </a>
                    <a href="">
                      <li>르노삼성</li>
                    </a>
                    <a href="">
                      <li>쌍용자동차</li>
                    </a>
                    <a href="">
                      <li>
                        <span>커뮤니티</span>
                      </li>
                    </a>
                    <a href="">
                      <!-- djlint:off -->
                                                                                                                                                                                                                                                                                                                                                                                        <li style="background:none;">
                                                                                                                                                                                                                                                                                                                                                                                            <span>고객센터</span>
                                                                                                                                                                                                                                                                                                                                                        </li>
                    <!-- djlint:on -->
                  </a>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td height="17"></td>
  </tr>
</tbody>
</table>
<table width="980" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td class="left_bg_1" width="168" valign="top">
        <div class="lnb_new">
          <ul>
            <a href="">
              <li>전면부품</li>
            </a>
            <a href="">
              <li>후면부품</li>
            </a>
            <a href="">
              <li>측면부품</li>
            </a>
            <a href="">
              <li>실내부품</li>
            </a>
            <a href="">
              <li>중고순정휠</li>
            </a>
            <a href="">
              <li>하체부품</li>
            </a>
            <a href="">
              <li>기타부품</li>
            </a>
            <a href="">
              <li>현대자동차</li>
            </a>
            <a href="">
              <li>기아자동차</li>
            </a>
            <a href="">
              <li>쉐보레(GM대우)</li>
            </a>
            <a href="">
              <li>르노삼성</li>
            </a>
            <a href="">
              <li>쌍용자동차</li>
            </a>
            <a href="">
              <li>수입자동차</li>
            </a>
            <a href="">
              <li>수출용자동차</li>
            </a>
            <a href="">
              <li>부품용자동차</li>
            </a>
          </ul>
        </div>
        <div style="height:18px;line-height:0;font-size:0;"></div>
        <a href="">
          <img src="./images/left_ban_1.jpg">
        </a>
        <a href="">
          <img src="./images/left_ban_2.jpg">
        </a>
        <img src="./images/left_ban_3.jpg">
        <img src="./images/left_ban_4.jpg">
        <div style="height:23px;line-height:0;font-size:0;"></div>
        <img src="./images/left_ban_5.jpg">
        <img src="./images/left_ban_6.jpg" border="0" usemap="#left_ban_6">
        <map name="left_ban_6">
          <area shape="rect" coords="3, 2, 80, 103" href="./shop/faq.php">
          <area shape="rect" coords="81, 2, 163, 103" href="">
          <area shape="rect" coords="3, 104, 80, 198" href="">
          <area shape="rect" coords="81, 104, 163, 198" href="">
        </map>
      </td>
      <td width="12"></td>
      <td width="800" valign="top">
        <!-- 컨텐츠 -->
        <table width="800" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="8"></td>
              <td width="212" valign="top">
                <!-- 공지추출-->
                <table width="212" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td height="130"
                          valign="top"
                          style="padding-top:30px;
                                 background:url(static/images/notice.jpg);
                                 background-repeat:no-repeat;
                                 background-position:center top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td height="22">
                                <nobr style="display:block; overflow:hidden; width:160;">
                                  &nbsp;&nbsp;&nbsp;
                                  <img src="{% static 'images/blot.gif' %}"
                                       align="absmiddle"
                                       width="2"
                                       height="4">
                                  <a href="./bbs/board.php?bo_table=notice&amp;wr_id=9">★주문전 필독사항★</a>
                                  <span style="font-family:돋움; font-size:8pt; color:#9A9A9A;"></span></nobr>
                              </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <img src="{% static 'images/dot_line.gif' %}"
                                     width=""
                                     height=""
                                     alt="dot_line">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div style="height:4px;line-height:0;font-size:0;"></div>
                <img src="./images/main_ban_5.jpg">
                <div style="height:3px;line-height:0;font-size:0;"></div>
                <a href="./bbs/board.php?bo_table=counsel">
                  <img src="./images/main_ban_6.jpg">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="height:5px;line-height:0;font-size:0;"></div>
        <!-- 신제품 시작 -->
        <img src="./images/main_tit_1.jpg">
        <div style="height:20px"></div>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td width="20%" align="center" valign="top">
                <table width="20%" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td align="center" style="border:1px solid #d2d2cd;">
                        <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1713509336&amp;ca_id=1040">
                          <img id="1713509336_m"
                               src="http://xn--o39ar20cmib.kr/data/item/1713509336_m"
                               width="130"
                               height="130"
                               border="0">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" class="locat">
                        <a href="./shop/item.php?it_id=1713509336&amp;ca_id=1040" class="item">롤스로이스 데루등</a>
                      </td>
                    </tr>
                    <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
                    <tr>
                      <td align="center" class="locat2">0원</td>
                    </tr>
                    <tr>
                      <td height="20"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="20%" align="center" valign="top">
                <table width="20%" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td align="center" style="border:1px solid #d2d2cd;">
                        <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1713508020&amp;ca_id=1080l0">
                          <img id="1713508020_m"
                               src="http://xn--o39ar20cmib.kr/data/item/1713508020_m"
                               width="130"
                               height="130"
                               border="0">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" class="locat">
                        <a href="./shop/item.php?it_id=1713508020&amp;ca_id=1080l0" class="item">BMW Z4 라이트</a>
                      </td>
                    </tr>
                    <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
                    <tr>
                      <td align="center" class="locat2">0원</td>
                    </tr>
                    <tr>
                      <td height="20"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="20%" align="center" valign="top">
                <table width="20%" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td align="center" style="border:1px solid #d2d2cd;">
                        <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1713507768&amp;ca_id=1080s0">
                          <img id="1713507768_m"
                               src="http://xn--o39ar20cmib.kr/data/item/1713507768_m"
                               width="130"
                               height="130"
                               border="0">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" class="locat">
                        <a href="./shop/item.php?it_id=1713507768&amp;ca_id=1080s0" class="item">BMW X7 G07</a>
                      </td>
                    </tr>
                    <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
                    <tr>
                      <td align="center" class="locat2">
                        0원<a href="javascript:popup_large_image('1713507768', '1713507768_l1', 1613, 726, './shop')">
                        <img src="./shop/img/btn_zoom.gif" border="0">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td height="20"></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td width="20%" align="center" valign="top">
              <table width="20%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td height="5"></td>
                  </tr>
                  <tr>
                    <td align="center" style="border:1px solid #d2d2cd;">
                      <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1713340691&amp;ca_id=108040">
                        <img id="1713340691_m"
                             src="http://xn--o39ar20cmib.kr/data/item/1713340691_m"
                             width="130"
                             height="130"
                             border="0">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" class="locat">
                      <a href="./shop/item.php?it_id=1713340691&amp;ca_id=108040" class="item">비엠 5시리즈 후미등</a>
                    </td>
                  </tr>
                  <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
                  <tr>
                    <td align="center" class="locat2">
                      0원<a href="javascript:popup_large_image('1713340691', '1713340691_l1', 1089, 726, './shop')">
                      <img src="./shop/img/btn_zoom.gif" border="0">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td height="20"></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td width="20%" align="center" valign="top">
            <table width="20%" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td height="5"></td>
                </tr>
                <tr>
                  <td align="center" style="border:1px solid #d2d2cd;">
                    <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1713338947&amp;ca_id=10a090">
                      <img id="1713338947_m"
                           src="http://xn--o39ar20cmib.kr/data/item/1713338947_m"
                           width="130"
                           height="130"
                           border="0">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td align="center" class="locat">
                    <a href="./shop/item.php?it_id=1713338947&amp;ca_id=10a090" class="item">벤츠 CLS W257 헤드라이트 (운전석)</a>
                  </td>
                </tr>
                <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
                <tr>
                  <td align="center" class="locat2">
                    0원<a href="javascript:popup_large_image('1713338947', '1713338947_l1', 1613, 726, './shop')">
                    <img src="./shop/img/btn_zoom.gif" border="0">
                  </a>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center" valign="top">
          <table width="20%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td height="5"></td>
              </tr>
              <tr>
                <td align="center" style="border:1px solid #d2d2cd;">
                  <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1548056410&amp;ca_id=96">
                    <img id="1548056410_m"
                         src="http://xn--o39ar20cmib.kr/data/item/1548056410_m"
                         width="130"
                         height="130"
                         border="0">
                  </a>
                </td>
              </tr>
              <tr>
                <td align="center" class="locat">
                  <a href="./shop/item.php?it_id=1548056410&amp;ca_id=96" class="item">라지셋 전차종 판매(라디에이터,콘덴셔,펜)</a>
                </td>
              </tr>
              <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
              <tr>
                <td align="center" class="locat2">
                  전화문의<a href="javascript:popup_large_image('1548056410', '1548056410_l1', 498, 321, './shop')">
                  <img src="./shop/img/btn_zoom.gif" border="0">
                </a>
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td width="20%" align="center" valign="top">
        <table width="20%" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td height="5"></td>
            </tr>
            <tr>
              <td align="center" style="border:1px solid #d2d2cd;">
                <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1533171824&amp;ca_id=92">
                  <img id="1533171824_m"
                       src="http://xn--o39ar20cmib.kr/data/item/1533171824_m"
                       width="130"
                       height="130"
                       border="0">
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" class="locat">
                <a href="./shop/item.php?it_id=1533171824&amp;ca_id=92" class="item">SM5 플래티넘 후미등 운전석</a>
              </td>
            </tr>
            <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
            <tr>
              <td align="center" class="locat2">
                전화문의<a href="javascript:popup_large_image('1533171824', '1533171824_l1', 700, 525, './shop')">
                <img src="./shop/img/btn_zoom.gif" border="0">
              </a>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
        </tbody>
      </table>
    </td>
    <td width="20%" align="center" valign="top">
      <table width="20%" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td align="center" style="border:1px solid #d2d2cd;">
              <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1486692576&amp;ca_id=91">
                <img id="1486692576_m"
                     src="http://xn--o39ar20cmib.kr/data/item/1486692576_m"
                     width="130"
                     height="130"
                     border="0">
              </a>
            </td>
          </tr>
          <tr>
            <td align="center" class="locat">
              <a href="./shop/item.php?it_id=1486692576&amp;ca_id=91" class="item">AD아반떼 일반라이트 (운전석)</a>
            </td>
          </tr>
          <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
          <tr>
            <td align="center" class="locat2">
              전화문의<a href="javascript:popup_large_image('1486692576', '1486692576_l1', 458, 255, './shop')">
              <img src="./shop/img/btn_zoom.gif" border="0">
            </a>
          </td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
      </tbody>
    </table>
  </td>
  <td width="20%" align="center" valign="top">
    <table width="20%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td align="center" style="border:1px solid #d2d2cd;">
            <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1440491268&amp;ca_id=91">
              <img id="1440491268_m"
                   src="http://xn--o39ar20cmib.kr/data/item/1440491268_m"
                   width="130"
                   height="130"
                   border="0">
            </a>
          </td>
        </tr>
        <tr>
          <td align="center" class="locat">
            <a href="./shop/item.php?it_id=1440491268&amp;ca_id=91" class="item">그랜져TG 전조등</a>
          </td>
        </tr>
        <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
        <tr>
          <td align="center" class="locat2">
            전화문의<a href="javascript:popup_large_image('1440491268', '1440491268_l1', 751, 404, './shop')">
            <img src="./shop/img/btn_zoom.gif" border="0">
          </a>
        </td>
      </tr>
      <tr>
        <td height="20"></td>
      </tr>
    </tbody>
  </table>
</td>
<td width="20%" align="center" valign="top">
  <table width="20%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td height="5"></td>
      </tr>
      <tr>
        <td align="center" style="border:1px solid #d2d2cd;">
          <a href="http://xn--o39ar20cmib.kr/shop/item.php?it_id=1440475969&amp;ca_id=92">
            <img id="1440475969_m"
                 src="http://xn--o39ar20cmib.kr/data/item/1440475969_m"
                 width="130"
                 height="130"
                 border="0">
          </a>
        </td>
      </tr>
      <tr>
        <td align="center" class="locat">
          <a href="./shop/item.php?it_id=1440475969&amp;ca_id=92" class="item">그랜져HG 후미등</a>
        </td>
      </tr>
      <!--시중가격<tr><td align=center><strike>0원</strike></td></tr>-->
      <tr>
        <td align="center" class="locat2">
          전화문의<a href="javascript:popup_large_image('1440475969', '1440475969_l1', 720, 405, './shop')">
          <img src="./shop/img/btn_zoom.gif" border="0">
        </a>
      </td>
    </tr>
    <tr>
      <td height="20"></td>
    </tr>
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
