{% extends "../base.html" %}
{% load static %}
{% block content %}
  <td width="800" valign="top">
    <!--타이틀시작-->
    <div id="account-title" aria-label="페이지 타이틀">
      <!-- 가운데 타이틀 이미지 -->
      <div class="title">
        {# 캡처처럼 보이는 '로그인' 이미지 파일로 교체해도 OK #}
        <img src="{% static 'images/account/title_m1.png' %}" alt="로그인">
      </div>
    </div>
    <!--/ 타이틀시작-->
    <!-- 컨텐츠 -->
    <div id="login-card">
      <form class="card"
            method="post"
            action="{% url 'user:login' %}"
            autocomplete="off">
        {% csrf_token %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        <!-- 아이디 -->
        <div class="field">
          <label for="user_id">아이디</label>
          <input id="user_id" name="user_id" class="input" maxlength="20" required>
        </div>
        <!-- 비밀번호 -->
        <div class="field">
          <label for="password">비밀번호</label>
          <div class="with-ico">
            <i class="ico" aria-hidden="true"></i>
            <input id="password"
                   type="password"
                   name="password"
                   class="input"
                   maxlength="20"
                   required>
          </div>
        </div>
        <div class="helper">
          <a href="javascript:void(0)" onclick="win_password_lost()">
            <img src="{% static "images/account/password.png" %}"
                 width="126"
                 height="16"
                 alt="">
          </a>
        </div>
        <!-- 로그인(이미지 버튼) -->
        <div style="margin-top:18px;">
          <button type="submit"
                  class="btn-img"
                  style="background:none;
                         border:0;
                         padding:0">
            <img src="{% static 'images/account/login.jpg' %}"
                 alt="로그인"
                 width="429.13"
                 height="48">
          </button>
        </div>
        <div class="divider">
          <span>OR</span>
        </div>
        <!-- 회원가입(이미지 버튼) -->
        <a class="btn-img" href="{% url 'user:register_terms' %}">
          <img src="{% static 'images/account/btn_member_join.png' %}"
               alt="회원가입"
               width="429.13"
               height="48">
        </a>
      </form>
    </div>
  </td>
{% endblock content %}
