{% extends "../base.html" %}
{% load static %}
{% block content %}
  <td width="800" valign="top">
    <div id="account-title">
      <div class="title_text">새 비밀번호 설정</div>
    </div>
    <div id="login-card">
      <form class="card"
            method="post"
            action="{% url 'user:password_reset_match_new' %}"
            autocomplete="off">
        {% csrf_token %}
        {% if messages %}
          {% for m in messages %}<div class="msg {{ m.tags }}">{{ m }}</div>{% endfor %}
        {% endif %}
        {{ form.non_field_errors }}
        <div class="field">
          <label for="id_new_password1">새 비밀번호</label>
          {{ form.new_password1 }}
        </div>
        <div class="field">
          <label for="id_new_password2">새 비밀번호 확인</label>
          {{ form.new_password2 }}
        </div>
        <div class="actions">
          <button class="btn-primary" type="submit">비밀번호 변경</button>
        </div>
        <div class="helper">
          <a href="{% url 'user:login' %}">로그인으로</a>
        </div>
      </form>
    </div>
  </td>
{% endblock %}
